root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
# alineado con MaxLineLength de config/detekt/detekt.yml; el default de ktlint es 140
max_line_length = 100
indent_style = space
indent_size = 4
